html,
body {
    /* background-image: url('photo/watch.jpg'); */
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    position: absolute;
    text-align: center;
}

.title {
    font-size: 84px;
}

.links>a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    float: left;
}

.m-b-md {
    margin-bottom: 30px;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

/* Image style Welcome page*/

.welcome-image-first {
    background-image: url('../photo/phones.jpg');
    background-size: 100% 100%;
}

.welcome-image-second {
    background-image: url('../photo/Macbook.jpg');
    background-size: 100% 100%;
}

.welcome-image-third {
    background-image: url('../photo/watch.jpg');
    background-size: 100% 100%;
}

.welcome-image-forth {
    background-image: url('../photo/headphones-orange.jpg');
    background-size: 100% 100%;
}


/* Nav Bar - main */

.navbar {
    background: #ec9a2e !important;
    color: #fff !important;
}

.navbar a {
    color: #fff;
}

.navbar-brand {
    font-size: 23px;
}

.nav-item {
    font-size: 15px;
}

.dropdown-menu {
    background-color: #ec9a2e !important;
    min-width: 20px;
}

.dropdown-menu a {
    color: #fff;
}

.dropdown-menu a:hover {
    color: #ec9a2e;
}


/* Test sidebar from stack overflow */

#wrapper {
    transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
    width: 150px;
    background: #4CB6C1;
    height: 70%;
    position: fixed;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
    border-radius: 0 30px 30px 0;
    margin-top: 8%;
}

#sidebar-wrapper.activeNav {
    margin-left: -150px;
}

#page-content-wrapper {
    width: 100%;
}

.sidebar-nav {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
}


/* Styling-nav */

#sidebar-wrapper ul.components {
    padding: 20px 0;
}

#sidebar-wrapper ul li a {
    color: #fff;
    padding: 20px;
    font-size: 1.5em;
    display: block;
}

#sidebar-wrapper ul li a:hover {
    color: #4CB6C1;
    background: #fff;
    text-decoration: none;
}


/* logo-sidebar */

#sidebarCollapse.fixed-top {
    margin-left: 30px;
    margin-top: 46px;
    width: 60px;
    outline: none;
}

.welcome-title {
    margin-left: 50px;
    font-size: 30px;
}


/* Certificate Button */

.fixed-bottom-certificate {
    background-color: #fff;
    margin-left: 1760px;
    margin-top: 800px;
    position: fixed;
    width: 60px;
    height: 60px;
    outline: none;
}

.certificate-button {
    background-color: #fff;
    width: 60px;
    height: 60px;
    outline: none;
}


/* Footer */

#footer-logo .text-center {
    flex-grow: 1;
}


/* Welcome pictures */

.welcome-size-1 {
    height: 850px;
}

.welcome-size-2 {
    height: 500px;
}


/* Welcome - Carousel */


/* Carousel base class */

.carousel {
    position: relative;
}


/* Since positioning the image, we need to help out the caption */

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}


/* Declare heights because of positioning of img element */

.carousel-item {
    height: 42rem;
}

.carousel-item>img {
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}


/*  Mobile responsive  */


/* Welcome page - mobile */

@media (max-width:767px) {
    #wrapper {
        padding-left: 0;
    }
    #sidebar-wrapper {
        height: 50%;
        width: 90px;
        margin-top: 50%;
    }
    .sidebar-nav {
        width: 90px;
    }
    #sidebar-wrapper ul li a {
        padding: 15px;
        font-size: 1.0em;
    }
    #wrapper.activeNav {
        position: relative;
        left: 150px;
    }
    #wrapper.activeNav #sidebar-wrapper {
        left: 150px;
        width: 150px;
        transition: all 0.4s ease 0s;
    }
    #sidebarCollapse.fixed-top {
        margin-left: 20px;
        margin-top: 36px;
        width: 40px;
    }
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }
    .welcome-title {
        margin-top: 36px;
        font-size: 20px;
    }
}


/* Contact page */

.shield-blue {
    background-color: #4CB6C1;
}

.g-recaptcha {
    width: 400px !important;
}


/* Contact page - mobile */

@media (max-width:767px) {
    .g-recaptcha {
        width: 100px !important;
    }
}


/* About page */

.line-size {
    height: 500px;
}

.bodyshop {
    height: 350px;
}

.bottom-text {
    font-size: 35px;
}

.icon-size {
    height: 100px;
}

.icon-size-content {
    height: 55px;
}


/* About page - mobile */

@media (max-width:767px) {
    .line-size {
        height: 750px;
    }
    .bodyshop {
        height: 100px;
    }
    .bottom-text {
        font-size: 20px;
    }
    #icon-font {
        font-size: 15px;
    }
    .icon-size {
        height: 65px;
    }
}


/* Certificate page */

.download-text {
    font-size: 30px;
}

.img-size {
    height: 1050px;
}

@media (max-width:767px) {
    .download-text {
        font-size: 22px;
    }
    .img-size {
        height: 520px;
    }
}