html,
body {
    /* background-image: url('photo/watch.jpg'); */
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    position: absolute;
    text-align: center;
}

.title {
    font-size: 84px;
}

.links>a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    float: left;
}

.m-b-md {
    margin-bottom: 30px;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

/* Image style Welcome page*/

.welcome-image-first {
    background-image: url('../realphotos/big_welcome_1_biglow.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.welcome-image-second {
    background-image: url('../realphotos/big_welcome_2_biglow.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.welcome-image-third {
    background-image: url('../realphotos/upwards_1_biglow.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.welcome-image-forth {
    background-image: url('../realphotos/packages_color_wide_biglow.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.welcome-image-fifth {
    background-image: url('../realphotos/brand_red.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.welcome-image-sixth {
    background-image: url('../realphotos/front_1_wide_big.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.welcome-image-seventh {
    background-image: url('../documents/TG_Certificate_CE_en_wide_big.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.welcome-image-eight {
    background-image: url('../realphotos/all_pack_top_wide.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.welcome-image-ninth {
    background-image: url('../realphotos/package_front_1_biglow_wide.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


/* Nav Bar - main */

.navbar {
    background: #f59f0d !important;
    color: #fff !important;
}

.navbar a {
    color: #fff;
}

.navbar-brand {
    font-size: 23px;
}

.nav-item {
    font-size: 15px;
}


/* Test sidebar from stack overflow */

#wrapper {
    transition: all 0.4s ease 0s;
}

@media (min-width:1930px) {
    .wrapper-wide {
        width: 1930px;
    }
}

#sidebar-wrapper {
    width: 160px;
    background: #07b0b7;
    height: 70%;
    position: fixed;
    z-index: 1000;
    transition: all 0.4s ease 0s;
    border-radius: 0 30px 30px 0;
    margin-top: 10%;
}

#sidebar-wrapper.activeNav {
    margin-left: -160px;
}

#page-content-wrapper {
    width: 100%;
}

.sidebar-nav {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 160px;
    list-style: none;
    margin: 0;
    padding: 0;
}


/* CARET - left and right */

.caret {
    width: 0;
    height: 0;
    display: inline-block;
    border: 5px solid transparent;
    margin-left: 10px;
    margin-top: 13px;
}

.caret.right {
    border-left-color: white;
}

.caret.left {
    border-right-color: white;
}

#dropdown-language.dropdown-main-menu a:hover {
    color: #07b0b7;
    background: #fff;
    text-decoration: none;
    border-radius: 30px 30px 30px 30px;
}

#dropdown-language.dropdown-main-menu {
    height: 150px;
    background-color: #07b0b7;
    position: absolute;
    border-radius: 30px 30px 30px 30px;
    font-size: 12px;
}

#dropdown-custom.dropdown-main-menu a:hover {
    color: #07b0b7;
    background: #fff;
    text-decoration: none;
    border-radius: 30px 30px 30px 30px;
}

#dropdown-custom.dropdown-main-menu {
    height: 150px;
    min-width: 100px;
    background-color: #07b0b7;
    position: absolute;
    border-radius: 30px 30px 30px 30px;
    font-size: 12px;
}


/* Styling-nav */

#sidebar-wrapper ul.components {
    padding: 20px 0;
}

#sidebar-wrapper ul li a {
    color: #fff;
    padding: 20px;
    font-size: 1.5em;
    display: block;
}

#hover-only a:hover {
    color: #07b0b7;
    background: #fff;
    text-decoration: none;
}


/* Flags-language-switcher */

.flag-language {
    margin-left: 150px;
}


/* logo-sidebar */

#sidebarCollapse.fixed-top {
    margin-left: 30px;
    margin-top: 46px;
    width: 60px;
    outline: none;
}

.welcome-title {
    margin-left: 50px;
    font-size: 30px;
}

.menu_logo {
    margin-top: 125px;
    margin-left: 33px;
    width: 50px;
    font-size: 15px;
    color: #f59f0d;
}

.menu_logo_arrow {
    font-size: 15px;
}

.main_logo {
    margin-left: 30px;
    margin-top: 76px;
    width: 60px;
    outline: none;
}

.main_logo_text {
    margin-top: 150px;
    margin-left: 45px;
    color: #f59f0d;
}


/* Certificate Button */

.fixed-bottom-certificate {
    background-color: #fff;
    margin-left: 1760px;
    margin-top: 800px;
    position: fixed;
    width: 60px;
    height: 60px;
    outline: none;
}

.certificate-button {
    background-color: #fff;
    width: 60px;
    height: 60px;
    outline: none;
}


/* Footer */

#footer-logo .text-center {
    flex-grow: 1;
}


/* Welcome pictures */

.welcome-size-1 {
    height: 850px;
}

.welcome-size-2 {
    height: 500px;
}


/* Welcome - Carousel */


/* Carousel base class */

.marian_image {
    height: 100%;
    width: 100%;
}

.carousel {
    position: relative;
}


/* Since positioning the image, we need to help out the caption */

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}


/* Declare heights because of positioning of img element */

.carousel-item {
    height: 72rem;
}

#carousel_pack .carousel-item {
    height: 15rem;
}

#carousel_welcome .carousel-item {
    height: 500px;
}

.carousel-item>img {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}


/* Zoom effect - packing */

.inner {
    overflow: hidden;
}

.inner img {
    transition: all 1.5s ease;
    height: 100%;
    width: 100%;
    border-radius: 60px 60px 0 0;
}

.inner:hover img {
    transform: scale(1.6);
}


/* END Zoom effect */

.text_custom_carousel {
    font-size: 50px;
}

.text_custom_main {
    font-size: 50px;
}

.text_custom_secondary {
    font-size: 30px;
}

@media (max-width:1650px) {
    .carousel-item {
        height: 52rem;
    }
    .carousel-item>img {
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }
    .text_custom_main {
        font-size: 40px;
    }
    .text_custom_secondary {
        font-size: 25px;
    }
}


/* Welcome font */

#heading {
    color: #f59f0d;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    font-size: 50.5pt;
    text-indent: 0pt;
    margin-left: 100px;
}

.s3 {
    color: #07b0b7;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    font-size: 57.5pt;
    text-indent: -22pt;
    line-height: 20pt;
    margin-left: 120px;
}


/*  Mobile responsive  */


/* Welcome page - mobile */

@media (max-width:1380px) {
    #sidebar-wrapper {
        height: 60%;
        margin-top: 20%;
    }
    .text_custom_carousel {
        font-size: 35px;
    }
    .welcome-image-forth {
        background-image: url('../realphotos/packages_color_low.jpg');
    }
    #carousel_welcome .carousel-item>img {
        height: 350px;
    }
    #carousel_welcome .carousel-item {
        height: 350px;
    }
}

@media (max-width:991px) {
    #carousel_pack .carousel-item {
        height: 30rem;
    }
    #carousel_welcome .carousel-item>img {
        height: 280px;
    }
    #carousel_welcome .carousel-item {
        height: 280px;
    }
}

@media (max-width:767px) {
    #wrapper {
        padding-left: 0;
    }
    #sidebar-wrapper {
        height: 55%;
        width: 111px;
        margin-top: 50%;
    }
    .sidebar-nav {
        width: 111px;
    }
    #sidebar-wrapper ul li a {
        padding: 11px;
        font-size: 1.0em;
    }
    #wrapper.activeNav {
        position: relative;
        left: 150px;
    }
    #wrapper.activeNav #sidebar-wrapper {
        left: 150px;
        width: 150px;
        transition: all 0.4s ease 0s;
    }
    #sidebarCollapse.fixed-top {
        margin-left: 20px;
        margin-top: 36px;
        width: 40px;
    }
    #dropdown-language.dropdown-main-menu {
        height: 104px;
        min-width: 50px;
        font-size: 12px;
    }
    #dropdown-custom.dropdown-main-menu {
        height: 104px;
        min-width: 50px;
        font-size: 12px;
    }
    .caret {
        border: 4px solid transparent;
        margin-left: 10px;
        margin-top: 8px;
    }
    .main_logo {
        margin-left: 20px;
        margin-top: 76px;
        width: 40px;
        outline: none;
    }
    .main_logo_text {
        margin-top: 130px;
        margin-left: 20px;
        color: #f59f0d;
    }
    .flag-language {
        margin-left: 90px;
    }
    /* Bump up size of carousel content */
    .marian_image {
        height: auto;
    }
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }
    #carousel_welcome .carousel-item {
        width: 100%;
        height: auto;
    }
    .carousel-item {
        width: 100%;
        height: auto;
    }
    #carousel_pack .carousel-item {
        height: 15rem;
    }
    #carousel_welcome .carousel-item>img {
        width: 100%;
        height: auto;
    }
    .carousel-item>img {
        width: 100%;
        height: auto;
    }
    .text_custom_carousel {
        font-size: 25px;
    }
    .text_custom_main {
        font-size: 30px;
    }
    .text_custom_secondary {
        font-size: 20px;
    }
    .welcome-title {
        margin-top: 36px;
        font-size: 20px;
    }
    .menu_logo {
        margin-top: 90px;
        margin-left: 15px;
        width: 47px;
        font-size: 14px;
    }
    .menu_logo_arrow {
        font-size: 13px;
    }
    #heading {
        font-size: 27.5pt;
        margin-left: 0px;
    }
    .s3 {
        margin-left: 5px;
        font-size: 31.5pt;
    }
    .welcome-size-1 {
        height: 700px;
    }
    .welcome-image-first {
        background-image: url('../realphotos/big_welcome_1_mobile_low.jpg');
    }
    .welcome-image-second {
        background-image: url('../realphotos/big_welcome_2_mobile_low_72.jpg');
    }
    .welcome-image-third {
        background-image: url('../realphotos/upwards_1_biglow.jpg');
    }
    .welcome-image-forth {
        background-image: url('../realphotos/packages_color_mobile_low.jpg');
    }
    .welcome-image-fifth {
        background-image: url('../realphotos/brand_red_mobile_low.jpg');
    }
    .welcome-image-sixth {
        background-image: url('../realphotos/front_1_wide.jpg');
    }
    .welcome-image-seventh {
        background-image: url('../documents/TG_Certificate_CE_en_wide.jpg');
    }
}


/* @media (max-height: 650px) {
    #sidebar-wrapper {
        margin-top: 160px;
        height: 300px;
        width: 110px;
    }
    #sidebar-wrapper ul li a {
        padding: 10px;
        font-size: 18px;
    }
    .sidebar-nav {
        width: 110px;
    }
} */


/* Contact page */

.shield-blue {
    background-color: #07b0b7;
}


/* Contact page - mobile */

@media (max-width:767px) {
    .recaptcha {
        transform: scale(0.77);
        -webkit-transform: scale(0.77);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}


/* About page */

.line-size {
    height: 500px;
}

.bodyshop {
    height: 350px;
}

.bottom-text {
    font-size: 35px;
}

.icon-size {
    height: 100px;
}

.icon-size-content {
    height: 55px;
}

.image_about {
    width: 100%;
}

.image_2_package {
    height: 450px;
}


/* About page - mobile */

@media (max-width: 1300px) {
    .line-size {
        height: 630px;
    }
}

@media (max-width: 1000px) {
    .image_about {
        height: 220px;
    }
    .line-size {
        height: 650px;
    }
}

@media (max-width: 1280px) {
    .image_about {
        margin-top: 100px;
    }
    .image_2_package {
        margin-top: 90px;
        height: 280px;
    }
}

@media (max-width:767px) {
    .image_about {
        margin-top: 0;
        height: auto;
    }
    .image_2_package {
        margin-top: 0;
        height: 280px;
        width: auto;
    }
    .line-size {
        height: 850px;
    }
    .bodyshop {
        height: 100px;
    }
    .bottom-text {
        font-size: 20px;
    }
    #icon-font {
        font-size: 15px;
    }
    .icon-size {
        height: 65px;
    }
}


/* Certificate page */

.download-text {
    font-size: 30px;
}

.img-size {
    height: 1050px;
}

@media (max-width:767px) {
    .download-text {
        font-size: 22px;
    }
    .img-size {
        height: 520px;
    }
}


/* Video Page */

.video-text {
    font-size: 35px;
    color: #f59f0d;
}

@media (max-width:767px) {
    .video-text {
        margin-left: 20px;
        font-size: 27px;
    }
}


/* Packing page */

.superpack_image {
    background-image: url('../realphotos/all_pack_wide.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 750px;
}

.megapack_image {
    background-image: url('../realphotos/120_pack_opened_side.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.singlepack_image {
    background-image: url('../realphotos/package_front_1_biglow.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#packing_card.card {
    border-radius: 60px 60px 0 0;
}

.text-pack {
    color: black;
}


/* Cutom page  */


/* DEMO GENERAL ============================== */

.hover {
    overflow: hidden;
    position: relative;
    padding-bottom: 70%;
}

.hover-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    transition: all 0.4s;
}

.hover img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
}

.hover-content {
    position: relative;
    z-index: 99;
}


/* Branding ============================== */

.hover-1 img {
    width: 105%;
    position: absolute;
    top: 0;
    left: -5%;
    transition: all 0.3s;
}

.hover-1-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    transition: all 0.4s;
}

.hover-1 .hover-overlay {
    background: rgba(0, 0, 0, 0.5);
}

.hover-1-description {
    transform: translateY(0.5rem);
    transition: all 0.4s;
    opacity: 0;
}

.hover-1:hover .hover-1-content {
    top: 2rem;
}

.hover-1:hover .hover-1-description {
    opacity: 1;
    transform: none;
}

.hover-1:hover img {
    left: 0;
}

.hover-1:hover .hover-overlay {
    opacity: 0;
}


/* Packaging ============================== */

.hover-2 .hover-overlay {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1));
}

.hover-2-title {
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 99;
    transition: all 0.3s;
}

.hover-2-description {
    width: 100%;
    position: absolute;
    bottom: 0;
    opacity: 0;
    left: 0;
    text-align: center;
    z-index: 99;
    transition: all 0.3s;
}

.hover-2:hover .hover-2-title {
    transform: translateY(-1.5rem);
}

.hover-2:hover .hover-2-description {
    bottom: 0.5rem;
    opacity: 1;
}

.hover-2:hover .hover-overlay {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1));
}


/* COLLAGE */

.custom_collage {
    height: 700px;
}

.button_position {
    margin-top: 150px;
}

@media (max-width:1300px) {
    .button_position {
        margin-top: 70px;
    }
    .custom_collage {
        height: 500px;
    }
}

@media (max-width:767px) {
    .button_position {
        margin-top: 0;
    }
    .superpack_image {
        height: 500px;
    }
    .text-pack {
        margin-left: 40px;
    }
}


/* PRODUCTS PAGE */

.card .img-wrap {
    overflow: hidden;
}

.card-product-grid {
    margin-bottom: 20px;
}

.card-product-grid .img-wrap {
    border-radius: 0.2rem 0.2rem 0 0;
    height: 220px;
}

.card-product-grid .info-wrap {
    overflow: hidden;
    padding: 18px 20px;
}

.price {
    font-weight: 600;
    color: #212529;
}

.card-product-grid:hover {
    box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
    transition: 0.3s;
}

.card-product-grid .title {
    font-size: 20px;
    font-weight: 350;
}

a[class*=card] {
    color: initial;
}

a[class*=card]:hover .title {
    color: #f59f0d;
}


/* product page */

.gallery-wrap .img-big-wrap {
    margin-bottom: 10px;
    border-radius: 0.37rem;
    overflow: hidden;
    background-color: #fff;
}

.gallery-wrap .img-big-wrap a {
    text-align: center;
    display: block;
}

.gallery-wrap .img-big-wrap img {
    height: 450px;
    width: auto;
    display: inline-block;
    cursor: zoom-in;
}

.gallery-wrap .thumbs-wrap {
    text-align: center;
    margin-bottom: 20px;
}

.gallery-wrap .thumbs-wrap .item-thumb {
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin: 3px;
    display: inline-block;
    overflow: hidden;
}

.gallery-wrap .thumbs-wrap img {
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 4px;
    cursor: zoom-in;
}

.gallery-wrap .thumbs-wrap img:hover {
    -webkit-filter: brightness(1.1);
    filter: brightness(1.1);
    cursor: zoom-in;
}

.btn-light {
    background-color: #fff;
    border-color: #e4e4e4;
}

.btn-light i {
    color: #969696;
}

.btn-light:hover {
    background-color: #fff;
    border-color: #989898;
}

.btn-check {
    position: relative;
    display: inline-block;
    border: 2px solid #dee2e6;
    transition: 0s !important;
}

.btn-check input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.btn-check input:checked~.btn {
    border-color: #3167eb;
    background-color: #3167eb;
    color: #fff;
}

.btn-check:hover:not(.active) {
    border-color: #bbb;
}

.js-check {
    position: relative;
}

.js-check .title {
    margin-left: 22px;
}

.js-check input {
    position: absolute;
    top: 21px;
    left: 18px;
}

.js-check.active {
    border-color: #3167eb;
}

.js-check:hover:not(.active) {
    border-color: #ccc;
}

.js-check.box {
    width: 100%;
    border-width: 3px;
}

.title-product {
    font-size: 30px;
}


/* CART PAGE */

.section-pagetop {
    padding: 45px 0;
}

.bg-white {
    background-color: #e4e4e4;
}

.title-page {
    color: #212529;
}

.padding-y {
    padding-top: 40px;
    padding-bottom: 40px;
}

.table-shopping-cart.table td,
.table-shopping-cart.table th {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.table-shopping-cart .price-wrap {
    line-height: 1.2;
}

.table-shopping-cart .price {
    font-weight: bold;
    margin-right: 5px;
    display: block;
}

.itemside {
    position: relative;
    display: flex;
    width: 100%;
}

.itemside .aside {
    position: relative;
    flex-shrink: 0;
}

.itemside .info {
    padding-left: 15px;
    padding-right: 7px;
}

.itemside p {
    margin-bottom: 0;
}

.itemside .title {
    display: block;
    margin-bottom: 5px;
    color: #212529;
}

.itemside a.title:hover {
    color: #3167eb;
}

a.itemside {
    color: initial;
}

.items-bordered-wrap .itemside:not(:last-child) {
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.img-sm {
    width: 80px;
    height: 80px;
}

.img-xs,
.img-sm,
.img-md,
.img-lg {
    -o-object-fit: cover;
    object-fit: cover;
    flex-shrink: 0;
    flex-grow: 0;
}


/* CHECKOUT PAGE */

.box {
    padding: 18px;
    background: #fff;
    border-radius: 0.37rem;
    border: 1px solid #e4e4e4;
}

.box img {
    max-width: 100%;
}

.dlist-align {
    display: flex;
}

.dlist-align dt {
    width: 150px;
    word-wrap: break-word;
    font-weight: normal;
}

.dlist-align dd {
    flex-grow: 1;
}

.overview-section {
    position: fixed;
}


/* HEADER */

.icon-xs,
.icon-sm,
.icon-md,
.icon-lg {
    display: inline-block;
    text-align: center;
    flex-shrink: 0;
    flex-grow: 0;
}

.icon-sm {
    width: 48px;
    height: 48px;
    line-height: 48px !important;
    font-size: 20px;
}

.widget-header {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.widget-header a {
    color: #343a40;
}

.widget-header a:hover {
    color: #f59f0d;
}

.widget-header i {
    color: #969696;
}

.widget-header form {
    min-width: 280px;
}

.widget-header .title {
    display: block;
}

.widget-header .notify {
    position: absolute;
    top: -3px;
    right: -10px;
}

.widget-header:hover i {
    color: #f59f0d;
}